@import 'vars';
@import 'reset';
@import 'font';

.site {
	text-align: center;
	&__header {
		&-picture {
			display: none;
    		@media (min-width: 768px) {
    			display: block;
				width: 15rem;
				height: 15rem;
				margin: 0 auto;
				border-radius: 50%;
				background-image: url('../../images/profile.jpg');
			    background-size: cover;
	    		background-position: center center;
    		}
		}
	}

	&__icon {
		cursor: pointer;
		transition: color .3s ease;
		font-size: 2.5rem;
	
		&--twitter {
			color: $color-twitter;
			&:hover {
				color: darken($color-twitter, 5);
			}
		}

		&--github {
			color: $color-github;
			&:hover {
				color: darken($color-github, 5);
			}
		}
	}

	&__body {
		text-align: left;
    	padding: 0 1rem;
		@media (min-width: 768px) {
			text-align: center;
		}
	}

	&__label {
		text-decoration: underline;
		color: darken($color-light, 15);
	}
}

header {
	background-color: $bg-app;
	padding: 1rem 0;
}